.App {
  text-align: center;
}

input {
  padding: 5px;
  margin-right: 10px;
}

select {
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

p.invalid {
  color: red;
}
.container{
  /* border: 2px solid red; */
  width: 50%;
  height: 250px;
  margin-left: 350px;
  margin-top: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}